
body{
  /* font-family: Roboto; */
  background-image: url("./assets/images/__before.png");
  background-size: cover;
}
:root{
  --sidebarWidth: 270px;
}
@media screen and (max-width: 1000px) {
  :root {
      --sidebarWidth: 200px;
    }
  /* ===================SIDEBAR================================ */
  .sidebar .redProduct{
    font-size: 10px;
  }
}
@media screen and (max-width: 860px) {
  :root {
      --sidebarWidth: 180px;
    }
  /* ===================SIDEBAR================================ */
    
  .sidebar .menuItemName{
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  :root {
      --sidebarWidth: 100%;
    }
    /* =====================================================
                  DASHBORD
  ===================================================== */
  .sidebar{
    display: flex;
    justify-content: center;
  }
  .sidebar .MenuItemsColor{
    margin: 0 10px;
  }
  .col-width-sidebar {
    width: var(--sidebarWidth);
    position: absolute;
    transition: 1s ease-in-out;
    height: 8vh !important;
    bottom: 0;
  }
  .col-width-navbar {
    position: relative;
    width: 100% !important;
  }
  .sidebar .redProductContent, .sidebar .menuItemName, 
  .principalText, .sidebarProfil{
    display: none !important;
  }

  #navbar {
    position: absolute;
    z-index: 10 !important;
    width: 100% !important;
    background-color: #fff;
    left: 0 !important;
    top: 0 !important;
    height: 10vh !important;
  }
    /* =====================================================
                      CHILDREN
    ===================================================== */
    #child {
      left: 0 !important;
      width: 100% !important;
    }
}
@media screen and (max-width: 526px){
  .navTitle{
    display: none;
  }
  #navbar-input-container {
    width: 250px !important;
  }
}
/* =====================================================
                AUTHENTIFICATION
===================================================== */
.auth {
  height: 100vh;
  background-image: url("./assets/images/_before.jpg");
  background-size: cover;
}
.input{
  border: none;
  outline: none;
  background-color: transparent !important;
  border-bottom: 1px solid #333;
}
.input:focus{
  box-shadow: none;
}
input{
  background-color: transparent !important;
}
.btn{
  background-color: #333;
  border: none;
}
#connexion, #forgotPsw, #inscription{
  height: 100vh;
}
.auth .anotherAction{
  color: #ffd964;
  cursor: pointer;
  background-color: transparent;
}
.auth .anotherLink, .anotherLinkSidebar{
  text-decoration: none;
  color: #ffd964;
}
.anotherLinkSidebar{
  text-decoration: none;
  color: #fff;
}


/* =====================================================
                DASHBORD
===================================================== */
.col-width-sidebar{
  width: var(--sidebarWidth);
  transition: 0.3s ease-in-out;
  position: fixed;
}
.col-width-navbar{
  width: calc(100% - var(--sidebarWidth)) ;
  transition: 0.3s ease-in-out;
}

/* ===================NAVBAR================================ */
#navbar{
  width: calc(100% - var(--sidebarWidth));
  background-color: #fff;
  left: calc(var(--sidebarWidth) + 12px);
  position: fixed;
  border-bottom: 1px solid #9f9f9f;
}
.homeIMG, #homeIMG, .stat-img{
  width: 40px;
  height: 40px;
}
#navbar-input-container{
  width: 250px;
}
#navbar-input-container button{
  background-color: transparent !important;
}
#navbar-input-container button i{
  color: #333;
}
#navbar-input {
  outline: none !important;
  width: 70%;
  background-color: transparent;
}
#logoutBtn{
  cursor: pointer;
}
 
.inputForm:focus{
  box-shadow: none;
}
.inputFormTypeFile{
  border: 1px solid #dcdcdc;
  min-height: 20vh;
}
/* ===================SIDEBAR================================ */
.sidebar .redProduct {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
}
#sidebar-container-parent{
  background-image: url("./assets/images/_before.jpg");
  background-size: cover;
  color: #fff;
}

.sidebar{
  height: 100vh !important;
  transition: 0.5s ease-in-out;
}

.sidebarProfil{
  border-top: 1px solid #9f9f9f;
  position: absolute;
  bottom: 90px;
}
.anotherLinkSidebar:hover{
  color: #484b4e;
}
.MenuItemsColor:hover{
  background-color: #fff;
}

/* =====================================================
                  CHILDREN
===================================================== */
#child{
  padding-top: 60px;
  left: var(--sidebarWidth);
  color: #333;
   /* float: right;  */
  /*top: 50px; */
}

/* ====================En tete=============================== */
.entete h1{
  font-size: 20px;
  font-weight: normal;
}
#myModalForm{
  height: 70vh;
  overflow-y: auto;
}
/* ====================En tete=============================== */
.statTitle{
  font-weight: lighter;
}
.statTitle span{
  font-size: 35px;
  font-weight: 400;
}
.stat .statDesc{
  font-size: 17px;
}
#btnCreateNewHotel{
  background-color: transparent ;
  color: #333;
  border: 1px solid #333;
}
#btnCloseHotelModal:hover{
  background-color: #404040;
}
/* ====================HOTEL=============================== */

.card{
  border-radius: 13px;
  overflow: hidden;
}

.hotelAdress{
  color: #8D4B38;
} 
.hotelPrice, .hotelAdress{
  font-size: 13px;
}

#loginBtn:disabled{
  background-color: #333;
}
#loginBtn:hover{
  background-color: #404040 !important;
}
#aucunHotel{
  height: 30vh;
}